{% extends 'master.html' %}
{% load static %}
{% block content %}


<section id="aboutus">
    <h2 class="fw-bold">#abotus</h2>
    <p>Lorem consectetur adipisicing elit. Odit magnam aspernatur porro.</p>

</section>

<section id="about-head" class="section-p1">
    <img src="{% static 'media/k1.jpg' %}" alt="">
    <div>
        <h2>Who We Are ?</h2>
        <p class="text-black">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum illum, consequatur vitae dolore perspiciatis modi atque hic quod tempore eaque!</p>
        <abbr title="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, autem!</abbr>
        <br>
        <marquee behavior="" direction="" bgcolor="#088178" loop="1" scrollamount="5" width="100%">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi repudiandae corporis esse dolorem quia recusandae, laboriosam assumenda magnam corrupti nihil.</marquee>

    </div>

</section>








<!-- feature -->
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="{% static 'media/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f2.png' %}" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f3.png' %}" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f4.png' %}" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f5.png' %}" alt="">
        <h6>Happy customer</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f6.png' %}" alt="">
        <h6>24/7 support</h6>
    </div>
</section>








{% endblock content %}