{% extends 'master.html' %}
{% load static %}
{% block content %}

   <!--  -->
   <section id="main">
    <h4>Choose-in-Offer</h4>
    <h2>Super value deals</h2>
    <h1>On all Products</h1>
    <p>Save more with Coupons & up to 70% off! </p>
    <button class="btn btn-success rounded-pill">Shop Now</button>

</section>

<!-- feature -->
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="{% static 'media/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f2.png' %}" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f3.png' %}" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f4.png' %}" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f5.png' %}" alt="">
        <h6>Happy customer</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'media/f6.png' %}" alt="">
        <h6>24/7 support</h6>
    </div>
</section>

<!-- feature shirt -->

<section id="product-1" class="section-p1">
    <h2>Trending Products</h2>
    <p>Summer Collection Morden Design</p>
    <div class="pro-container">
        {% for item in treanding_pro %}
        <div class="pro">
            <a href="{% url 'productview' item.category.slug item.slug %}">
            <img src="{{ item.product_image.url }}" alt="">
            <div class="des">
                <span>{{ item.slug }}</span>
                <h5>{{ item.name }}</h5>
               
                <h4>₹ {{ item.price }}</h4>

            </div>
            <a href="https://wa.me/9746351731?text=I'm%20interested%20in%20This%20Item" target="_blank" class="cart"><i class="fab fa-whatsapp "></i> </a>
            
           
        </a>
        </div>
        {% endfor %}
        
    </div>


</section>

<!-- advertis -->
<section id="banner" class="section-m1">
    <h4>Special Offer For you</h4>
    <h2>Up to <span>70% 0ff</span> All T-Shirt & Accessories</h2>
    <button class="normal">Explore More</button>

</section>

<!-- newarrivel -->
<section id="product-1" class="section-p1">
    <h2>New Arrivels </h2>
    <p>Summer Collection Morden Design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="{% static 'media/new arivel.jpg' %}" alt="img">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>

    </div>


</section>

<!-- advetr -->

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>Crazy deals</h4>
        <h2>Buy 1 get one</h2>
        <span>The Best Classic Dress in on Sale at Shirto</span>
        <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner2">
        <h4>Special Collectio</h4>
        <h2>Buy 1 get one</h2>
        <span>The Summer collection</span>
        <button class="white">Learn More</button>

    </div>


</section>

<!-- category -->
<section id="banner-3">
    <div class="banner-box">
        <h2>Season Sale </h2>
        <h3>Winter collection -50%off</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>Season Sale </h2>
        <h3>Winter collection -50%off</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>Season Sale </h2>
        <h3>Winter collection -50%off</h3>
    </div>




</section>












{% endblock content %}










