{% extends 'master.html' %}
{% load static %}
{% block content %}



<div class="container mt-3">
  
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h3>My Orders</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-stripeds table-bordereds">
                            <thead>
                                <tr>
                                   <th>Order Date</th>
                                   <th>Tracking No</th>
                                   <th>Total Price</th>
                                   <th>Status</th>
                                   <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order %}
                                <tr>
                                    <td>{{ item.created_at}}</td>
                                    <td>{{ item.tracking_no }}</td>
                                    <td>{{ item.total_price }}</td>
                                    <td>{{ item.status }}</td>
                                    <td>
                                        <a href="{% url 'orderview' item.tracking_no  %}" class="btn btn-success">View</a>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>

                    </div>
                </div>



            </div>
        </div>
</div>

           

            




            {% endblock content %}