{% extends 'master.html' %}
{% load static %}
{% block content %}




<!--  -->
<section id="page-head">
    <h2 class="fw-bold">#SHOPENOW</h2>
    <p>Sve more with coupens & up to % off70</p>

</section>

<section id="product-1" class="section-p1">
    <div class="pro-container">
        <div class="pro" >
            {% comment %} onclick="window.location.href='{% url 'showproduct' %}'"  {% endcomment %}
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>



        <!-- newarrivel -->

        <div class="pro">
            <img src="{% static 'media/new arivel.jpg' %}" alt="img">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'media/img1.jpg' %}" alt="">
            <div class="des">
                <span>Shirto</span>
                <h5>Leaf Print Cotton Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>$50</h4>

            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>

    </div>
</section>

<!-- pagenation -->

<section id="pagenation" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fas fa-arrow-right"></i></a>


</section>







{% endblock content %}