{% extends 'master.html' %}
{% load static %}
{% block content %}




<!--  -->
<section id="page-head">
    <h2 class="fw-bold">#SHOPENOW</h2>
    <p>Sve more with coupens & up to % off70</p>

</section>

<section id="product-1" class="section-p1">
    <div class="pro-container">
       {% for item in allpro %}
        <div class="pro">
            <a href="{% url 'productview' item.category.slug item.slug %}">
                <img src="{{ item.product_image.url }}" alt="">
                <div class="des">
                    <span>{{ item.slug }}</span>
                    <h5>{{ item.name }}</h5>
                   
                    <h4>₹ {{ item.price }}</h4>
    
                </div>
               
                <a href="https://wa.me/9746351731?text=I'm%20interested%20in%20This%20Item" target="_blank" class="cart"><i class="fab fa-whatsapp "></i> </a>
    
                <!-- <a href="#"><i class="fas fa-shopping-cart "></i></a> -->
    
            </a>
        </div>
        {% endfor %}
        
    </div>
</section>

<!-- pagenation -->

<section id="pagenation" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fas fa-arrow-right"></i></a>


</section>







{% endblock content %}